/* Landing page*/

.navbar {
    font-size: 40px;
    border-radius: 0px 0px 5px 5px;
}
.navbar-brand {
    font-weight: bold;
}


.hero {
    background-image: url('image/interior.png'); 
    background-size: cover;
    background-position: center;
    height: 620px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.hero-title{
    color: #fff;
    font-weight: bold;
}


.hero-content {
    padding: 0 20px;
}
.try-now-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #78c2ad;
    color: #fff;
    margin-top: 20px;
    transition: margin-top 0.3s, background-color 0.3s; 
}

.try-now-btn:hover {
    background-color: #78c2ad;
    color: #fff; 
}
.about {
    margin: 45px; 
}

/* FAQ Section */
.faq {
    text-align: center;
    color: #78c2ad;
    font-size: 15px;
    margin: 45px; 
}

.accordion-item {
    margin-bottom: 20px;
    max-width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.accordion-title {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #78c2ad;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left; 
}

.accordion-content {
    color: #000;
    font-size: 15px;
    padding: 0px 10px;
    margin-bottom: 10px;
    text-align: left;
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.3s ease-out;
}

.accordion-content.open {
    max-height: 1000px; 
}



/*footer*/
.footer {
    background-color: #78c2ad;
    color: #fff;
    padding: 20px 0;
    border-radius: 5px 5px 0px 0px;
}
.footer p {
    font-weight: bold;  
    margin-bottom: 0;
}


/*Body*/

.auth{
    background-color: #ecf5f3;
}

.auth label{
    font-size: 15px;
    color: #5a5a5a;
}

